body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

.container {
    width: 60%;
    margin: auto;
}

input, textarea, select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
}

button {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

.task-card {
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    color: white;
}

.high {
    background-color: crimson;
}

.medium {
    background-color: darkorange;
}

.low {
    background-color: green;
}
