# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/

# IDE / Editor
.vscode/
.idea/

# OS generated
.DS_Store
Thumbs.db

# Django
*.sqlite3

# Node modules (if later used)
node_modules/
